<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YottaYINSH</title>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/game.css">

  <script src="/javascripts/main.js" type="module"></script>
</head>

<body>

  <main class="unselectable">

    <section id="menu">

      <h1 id="menu-header">
        ottaYINSH
      </h1>

      <section id="log">
        <section id="log-header">
          <h1>turn</h1>
          <h1>side</h1>
          <h1>move</h1>
        </section>


        <section id="log-container"></section>
      </section>

    </section>

    <section id="content-container">

      <section id="canvas-container">
        <canvas id="yinsh-board" class="blurred"></canvas>
      </section>

      <section id="waitscreen">
        <h1>Waiting for another player</h1>
      </section>

      <section id="endscreen" class="hidden">
        <h1>The winner is:</h1>
        <h1 id="endscreen-name"></h1>
        <h1 id="endscreen-side"></h1>
      </section>


    </section>

    <section id="footer-left">
      <input type="text" name="time" class="name-input" placeholder="00:00:00" disabled>
    </section>
  </main>

</body>

</html>