<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yotta YINSH</title>

  <link rel="stylesheet" href="stylesheets/game.css">
  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="javascripts/main.js" type="module"></script>
</head>
<body>
  <canvas id="yinsh-board"></canvas>
</body>
</html>