<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YottaYINSH</title>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/splash.css">

  <script src="/javascripts/splash.js" type="module"></script>
</head>

<body>

  <main class="unselectable">

    <section id="menu">

      <h1 id="menu-header">
        ottaYINSH
      </h1>

      <section id="description">
        <h1>in short</h1>
        The players each start with 5 rings on the board. Every time a ring is moved, it leaves a marker behind. Markers
        are white on one side and black on the other. When markers are jumped over by a ring they must be flipped, so
        their color is constantly changing. The players must try to form a row of 5 markers with their own color face
        up. If a player succeeds in doing so, he removes one of his rings as an indication that he has formed such a
        row. The first player to remove 3 of his rings wins the game. In other words, each row you make brings you
        closer to victory-but also makes you weaker, because you have one less ring to play with. Very tricky!
      </section>

      <section id="stat-list">
        <h1>statistics</h1>
        <ul>
          <li><span class="statistics">0</span> games active</li>
          <li><span class="statistics">0</span> players in game</li>
          <li><span class="statistics">00:00:00</span> active game time</li>
        </ul>
      </section>

    </section>

    <section id="content-container">
      <section id="content-header">
        <h1 class="visibility">visibility</h1>
        <h1 class="player">player 1</h1>
        <h1 class="player">player 2</h1>
        <h1 class="player-count">players</h1>
        <h1 class="time">time</h1>
      </section>

      <section id="game-list"></section>
    </section>

    <section id="footer-left">
      <label class="name-label" for="name">Enter your name:</label>
      <input type="text" name="name" id="name-input" class="name-input" placeholder="Guest">
    </section>

    <section id="footer-right">
      <div class="button" id="public-game">public game</div>
      <div class="button" id="private-game">private game</div>
    </section>
  </main>

</body>

</html>