main {
  grid-template-areas: "menu content-container" "footer-left content-container";
  grid-template-rows: minmax(0, 1fr) 6.5em;
  grid-template-columns: 1fr 2.25fr;
}

#menu {
  grid-template-areas: "menu-header" "log";
  grid-template-rows: min-content minmax(0, 1fr);
  grid-template-columns: 1fr;
  row-gap: 1em;
}

#log {
  grid-area: log;

  padding: 1em;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  display: -ms-grid;
  display: grid;
  grid-template-areas: "log-header" "log-container";
  grid-template-rows: min-content minmax(0, 1fr);
  grid-template-columns: 1fr;

  overflow: hidden;
}

#log-header {
  grid-area: log-header;
  background-color: var(--highlight-color-light);
  border-radius: 5px 5px 0 0;
}

#log-header > h1 {
  box-sizing: border-box;
  padding: 1.25ch;
}

#log-container {
  grid-area: log-container;
  
  position: relative;
  padding: 1ex 0;

  width: 100%;
  height: 100%;
  background-color: var(--game-list-bg-color);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  border-radius: 0 0 5px 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#log-container > .log-entry {
  color: var(--text-color-light);
  font-size: 1.2em;
  text-align: center;
}

.log-entry:last-of-type {
  padding-bottom: 1ex;
}

#log-header, .log-entry {  
  display: -ms-grid;
  display: grid;
  grid-template-areas: "turn-number side move-data";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1vmin;
}

#content-container {
  padding: 1em;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--highlight-color-light), var(--menu-bg-color)) 1;

  position: relative;
}

#canvas-container {
  width: 100%;
  height: 100%;
}

#canvas-container:not(:fullscreen) {
  position: relative;
}

#canvas-container:fullscreen {
  padding: 1.5em;

  position: absolute;
  z-index: 0;

  background-color: var(--game-list-bg-color);
}

#yinsh-board {
  width: 100%;
  height: 100%;
}

#yinsh-board.blurred {
  filter: blur(5px);
}

#spectating {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  color: var(--text-color-light);
  font-size: 2.25em;

  opacity: 0.3;
  display: none;
}

#waitscreen, #endscreen {
  width: 40%;
  height: 30%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-areas: "spinner" "message";
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr;
  
  border: 1px solid var(--highlight-color-light);
  border-radius: 10px;
  overflow: hidden;

  opacity: 1;
  transition: opacity .25s;
}

#waitscreen::before, #endscreen::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;
  
  background-color: var(--highlight-color-dark);
  opacity: .15;
}

#waitscreen::after {
  content: "";
  grid-area: spinner;
  
  width: 5em;
  height: 5em;

  display: flex;
  align-self: center;
  justify-self: center;

  border-radius: 50%;
  border: 1em solid white;
  
  animation: loader 2s cubic-bezier(0, 0.2, 0.6, 0.8) infinite;
}

#endscreen {
  width: 60%;
  grid-template-areas: "congrats" "winner" "message";
  grid-template-rows: min-content 1fr min-content;
}

#waitscreen > h1, #endscreen > h1 {
  width: 100%;
  margin: 0;
  padding: 1ex 0;
  box-sizing: border-box;

  overflow: hidden;

  text-align: center;
  color: var(--text-color-light);
  font-weight: normal;
  font-size: 2em;

  z-index: 1;
}

#endscreen > h1:nth-of-type(2) {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 4.5em;
}

@keyframes loader {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#footer-left {
  position: relative;
}

#footer-left > input {
  text-align: center;
}

.name-input:first-of-type {
  border-top: 1px solid var(--highlight-color-light);
  border-bottom: none;
}
.name-input:last-of-type {
  border-bottom: 1px solid var(--highlight-color-light);
  border-top: none;
}

#waitscreen.hidden, #endscreen.hidden {
  opacity: 0;
  display: none;
}

#fullscreen {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 2em;
  height: 1em;
  transition: transform .1s;
}
#fullscreen::before, #fullscreen::after {
  content: "";
  display: block;
  border: 2px solid var(--text-color-light);
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
}
#fullscreen::before {
  border-right: none;
  left: 0;
}
#fullscreen::after {
  border-left: none;
  right: 0;
}

#fullscreen:hover {
  transform: scale(1.2, 1.2);
}

#fullscreen:active::before, #fullscreen:active::after {
  border-color: var(--highlight-color-light);
}