main {
  position: relative;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "play"
    "stats";
}

#title, #play, #statistics,
#statistics > section,
#statistics > section > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  position: relative;
}

/* title */
#title {
  grid-area: "title";
}

#title > h1 {
  font-size: 5em;

  margin: 0;
}

/* play */
#play {
  grid-area: "play";
}

#play > div {
  background-color: var(--play-button-color);

  color: var(--text-color-light); 
  font-size: 2em;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;

  transform: translateY(0);
  box-shadow: 0 .25em var(--play-button-shadow);
  transition: all .1s;
}

#play > div:hover {
  transform: translateY(.1em);
  box-shadow: 0 .15em var(--play-button-shadow);
}

#play > div:active {
  background-color: var(--play-button-shadow);
  transform: translateY(.25em);
  box-shadow: 0 0 var(--play-button-shadow);
}


/* statisics */
#statistics {
  grid-area: "stats";
}

#statistics > section {
  flex-direction: row;
}

#statistics > section > section {
  width: 33%;
}