#menu {
  grid-template-areas: "menu-header" "description" "stats-list";
  grid-template-rows: 1fr 4fr 3fr;
  grid-template-columns: 1fr;
}

#description, #stat-list {
  font-size: 1.2em;
  color: var(--text-color-light);
}

#description > h1, #stat-list > h1 {
  font-variant: small-caps;
  font-size: 2em;
  padding: 0;
  margin: 0;
}

#description {
  grid-area: description;
  white-space: pre-line;
  text-align: justify;
}

#stat-list {
  grid-area: stats-list;
}

#stat-list > ul {
  list-style-type: "\2767";
  list-style: none;
  font-size: 1.3em;
  margin: 0;
  padding: 0 1ch;
}

li {
  padding: .25em 0;
}

li > div {
  display: inline-block;
  padding: .2em;
  box-sizing: border-box;

  font-family: inherit;
  color: inherit;

  background-color: var(--bg-color);

  border: none;
  border-bottom: 1px solid var(--highlight-color-light);
}

#content-header {
  grid-area: content-header;

  background-color: var(--highlight-color-light);
}

#content-header > h1:hover {
  background-color: var(--highlight-color-dark);
}

#content-header > h1::after {
  content: "▲";
  font-size: 0.75em;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 1ch;
  height: 100%;
}

#content-header > h1.ascending::after { animation: rotateToUp .2s ease-in-out forwards; }
#content-header > h1:not(.ascending)::after { animation: rotateToDown .2s ease-in-out forwards; }

@keyframes rotateToUp {
  from { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

@keyframes rotateToDown {
  0% { transform: rotate(180deg); }
  to { transform: rotate(0deg); }
}

@media (orientation: portrait) {
  #content-header > h1::after {
    display: none;
  }
}

#game-list {
  grid-area: main-content;

  border: 1px solid var(--highlight-color-light);
  border-top: none;
  border-right: none;

  overflow-x: hidden;
  overflow-y: scroll;

  box-sizing: border-box;

  min-width: 0;
  padding-top: 1ex;
}

#game-list > .game-item {
  height: 3em;

  position: relative;

  color: var(--text-color-light);
  font-size: 1.25em;
}

.game-item::before {
  content: "";

  width: 100%;
  height: 100%;
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;

  border-top: 1px solid var(--highlight-color-light);
  border-bottom: 1px solid var(--highlight-color-light);

  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.game-item:hover::before {
  transform: scaleX(.8);
}

.game-item > div {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
}

.game-item > .visibility {
  font-size: 1.2em;
}

#content-header, .game-item {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "visibility player1 player2 playercount time";
  grid-template-rows: 1fr;
  grid-template-columns: .5fr 1fr 1fr .5fr .5fr;
}

#footer-right > .button {
  width: 15%;
  padding: .75em;

  font-size: 1.225em;

  color: var(--text-color-light);
  background-color: var(--highlight-color-light);

  text-align: center;
  
  transform: translateY(0);
  box-shadow: 0 .45em var(--highlight-color-dark);
  border-radius: 3px;

  transition: transform .1s, box-shadow .1s;
}

#footer-right > .button:hover {
  transform: translateY(.15em);  
  box-shadow: 0 .3em var(--highlight-color-dark);
}

#footer-right > .button:active {
  transform: translateY(.3em);  
  box-shadow: 0 .15em var(--highlight-color-dark);
}